<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    
</head>
<body>
    
    

    <div id="app">
        {{ message }}
    </div>

    <div id="app-2">
        <span v-bind:title="message">
            내 위에 잠시 마우스를 올리면 동적으로 바인딩 된 title을 볼수 있음
        </span>
    </div>

    <div id="app-3">
        <p v-if="seen">이제 날 볼수 있음</p>
    </div>

    <div id="app-4">
        <ol>
            <li v-for="todo in todos">
                {{todo.text}}
            </li>
        </ol>
    </div>

    <div id="app-5">
        <p>{{ message }}</p>
        <button v-on:click="reverseMessage">메시지 뒤집기</button>
    </div>

    <div id="app-6">
        <p>{{ message }}</p>
        <input v-model="message" type="text">
    </div>

    <div id="app-7">
        <ol>
            <todo-item
                v-for="item in groceryList"
                v-bind:todo="item"
                v-bind:key="item.id"
            >

            </todo-item>
        </ol>
    </div>

    <ol id="testComponet">
        <todo-item></todo-item>
    </ol>

    <script>
        var app = new Vue({
            el:'#app',
            data:{
                message : "hello Vue!!"
            }
        });

        var app2 = new Vue({
            el:'#app-2',
            data:{
                message:'이 페이지는 ' + new Date() + '에 로드 됨'
            }
        })

        var app3 = new Vue({
            el:'#app-3',
            data:{
                seen : true
            }
        })

        var app4 = new Vue({
            el:'#app-4',
            data:{
                todos:[
                    {text:'Js 배우기'},
                    {text:'Vue 배우기'},
                    {text:'무언갈 이쁘게 만들기 ㅋ'}
                ]
            }
        })

        var app5 = new Vue({
            el:'#app-5',
            data : {
                message : "아이즈원"
            },
            methods:{
                reverseMessage:function(){
                    this.message = this.message.split('').reverse().join('')
                }
            }
        })

        var app6 = new Vue({
            el:'#app-6',
            data:{
                message:'안녕ㅋㅋ'
            }
        })
    </script>
    <script>

        Vue.component('todo-item', {
            props:['todo'],
            template : '<li>{{ todo.text }}</li>'
        })

        var app7 = new Vue({
            el:'#app-7',
            data : {
                groceryList:[
                    {id:0, text:'권은비'},
                    {id:1, text:'사쿠라'},
                    {id:2, text:'강혜원'}
                ]
            }
        })
    </script>
</body>
</html>